.banners-tit, .banners-wrap {
	width: 720px;
	margin: 0 auto;
}

.banners-wrap{
	position: relative;
	margin-bottom: 50px;
	overflow: hidden;
}

.banners {
	width: 4320px;
	position: relative;
	display: flex;
}

.banner {
	width: 720px;
	position: relative;
}

.banner-cont {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 60px;
	color: orange;
}